body
{
	background: #FFEEEE;
	font-family: Arial, Helvetica, sans-serif;
}

.informations 
{
	border-style: double;
	border-color: #000000;
	border-width: 3px;
	border-collapse: collapse;
	font-size: 13px;
}
.informations th		
{
	border-width: 0.5px;
	padding: 2px;
	border-style: solid;
	border-color: #000000;
	background: #E6E6FA;
}
.informations td
{
	border-width: 0.5px;
	padding: 2px;
	border-style: solid;
	border-color: #000000;
	background: #F8F8FF;
}

.text-center
{
	color: #482F4B;
	text-align: center;
}

.table-center
{
    margin-left: auto;
    margin-right: auto;
}

.description-data
{
	font-size: 20px;
}

.description-works
{
	font-size: 15px;
}

.map-center
{
    margin-left: auto;
    margin-right: auto;
}

.return
{
	font-size: 10px;
}